@import "tailwindcss";

body{
  background-color: black;
}

#alliance{
  background-image: url('../../public/bg/Wrap.png');
  background-position: center;
  background-size: cover;
}

#videoPage{
  background-image: url('../../public/bg/gradient.png');
  background-position: top;
  background-size: cover; 
}

@layer utilities {
  .li-navbar {
    @apply cursor-pointer hover:text-neutral-300 transition-all duration-300;
  }
}



