@import "tailwindcss";


#alliance{
  background-image: url('../../public/bg/Wrap.png');
  background-position: center;
  background-size: cover;
}

#videoPage{
  background-image: url('../../public/bg/gradient.png');
  background-position: top;
  background-size: cover; 
}



